body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    color: yellow;
    background-color: salmon;
    margin-bottom: 40px;
    height: 20px;
    width: 100px;
    border: salmon solid 1px;
}
div{
    background-color: yellow;
    height: 20px;
    width: 20px;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
}
.grid{
    background-color: blue;
    height: 400px;
    width: 200px;
    display: flex;
    right: 100px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.previous-grid{
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}

.previous-shape{
    height: 80px;
    width: 80px;
}
h1{
    font-size: 40px;
    padding: 10px;
    color:rgb(4, 4, 122);
}
h2{
    color: rgb(13, 13, 177);
    font-size: 30px;
}
.block{
    background-color: royalblue;
}
.block2{
    background-color: purple;
}
.block3{
    background-color: salmon;
}
