<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/PageSaisie.css">
        <title>Page saisie</title>     
    </head> 
    <body>

        <!-- Affichage des messages des erreurs -->
        <!-- <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
            </div> 
        <% }) %>
        <% } %> -->
         
        <!-- MENU PRINCIPALE -->
        <header>
            <div class = "menu-bar2" id="click">
                <img src="../img/whitelogo.png" alt="logo">
                <ul>
                    <li><a href="http://127.0.0.1:5000/menu">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Mon profile</a>
                        <div class ="submenu1">
                            <ul>
                                <li><a href="http://127.0.0.1:5000/login">Deconnexion</a></li>
                                <li><a href="#">Parametres</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>                  
            </div> 
        </header>

        <!-- LE MENU -->           
        <header>
            <div class = "menu-bar">
                <ul>                       
                     <li><a href="#">Sauvgarder</a></li>
                    <li><a href="#etat">Ouvrir l'etat</a></li>
                    <li><a href="#">Imprimer formulaire</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Liste personnel</a></li>
                </ul>                  
            </div> 
        </header>
             
        <!-- FORMULAIRE SAISIR -->
        <div class="FORMULAIRE" >
        <h2> Formulaire demandeurs :</h2>   

        <form method="POST" action="/saisie" id="contact-form" >
            <fieldset class="active">
                    <legend><strong>Etat Civil</strong></legend>
                    Matricule : <input type="text" name="Matricule" required>
                    <br>
                    Numero de dossier : <input type="number" name="Numero_de_dossier" required>
                    <br>
                    Nom : <input type="text" name="Nom" required>
                    <br>
                    Prenom : <input type="text" name="Prenom" required> 
                    <br>
                    Date de naissance : <input type="date" name="Date_de_naissance" required>
                    <br>
                    Commune de naissance : <input type="text" name="Commune_de_naissance" required> 
                    <br>
                    Wilaya : 
                    <select name ="Wilaya" size="1" required>
                        <option>01. Adrar</option>
                        <option>02. Chlef</option>
                        <option>03. Laghouat</option>
                        <option>04. Oum El Bouaghi</option>
                        <option>05. Batna</option>
                        <option>06. Bejaia</option>
                        <option>07. Biska</option>
                        <option>08. Bechar</option>
                        <option>09. Blida</option>
                        <option>10. Bouira</option>
                        <option>11. Tamanrasset</option>
                        <option>12. Tebessa</option>
                        <option>13. Tlemcen</option>
                        <option>14. Tiaret</option>
                        <option>15. Tizi Ouzou</option>
                        <option>16. Alger</option>
                        <option>17. Djelfa</option>
                        <option>18. Djijel</option>
                        <option>19. Setif</option>
                        <option>20. Saida</option>
                        <option>21. Skikda</option>
                        <option>22. Sidi Bel Abbes</option>
                        <option>23. Annaba</option>
                        <option>24. Guelma</option>
                        <option>25. Constantine</option>
                        <option>26. Medea</option>
                        <option>27. Mostaganem</option>
                        <option>28. M'Sila</option>
                        <option>29. Mascara</option>
                        <option>30. Ouargla</option>
                        <option>31. Oran</option>
                        <option>32. El Bayadh</option>
                        <option>33. Illizi</option>
                        <option>34. Bordj Bou Arreridj</option>
                        <option>35. Boumerdes</option>
                        <option>36. El Tarf</option>
                        <option>37. Tindouf</option>
                        <option>38. Tissemsilt</option>
                        <option>39. El Oued</option>
                        <option>40. Khenchela</option>
                        <option>41. Souk Ahras</option>
                        <option>42. Tipaza</option>
                        <option>43. Mila</option>
                        <option>44. Ain Defla</option>
                        <option>45. Naama</option>
                        <option>46. Ain Temouchent</option>
                        <option>47. Ghardaia</option>
                        <option>48. Relizane</option>

                    </select>
                    <br> 
                    Sexe : <input type="radio" name="choix_sexe"required> Homme <input type="radio" name="choix_sexe"required> Femme
                    <br>
                    Adresse : <input type="text"  name="Adresse" required>
                    <br>
                    Numero de telephone : <input type="text" name="Numero_de_telephone" required>
                    <br>
                    Email : <input type="email" name="Email" placeholder="adressemail@esi.dz" required> 
                    <br>
                    Code postal : <input type="text" name="Code_postal" required>
                    <br>
                    Prenom du pere : <input type="text" name="Prenom_du_pere" required>
                    <br>
                    Nom de la mere : <input type="text" name="Nom_mere" required>
                    <br>
                    Prenom de la mere : <input type="text" name="Prenom_mere" required>
                    <br>
                    Situation familiale :
                    <select name="Situation_familiale" size="1" required>
                        <option value="Marie">Marie</option>
                        <option value="Divorce">Divorce</option>
                        <option value="Celibataire" selected>Celibataire</option>
                        <option value="Veuf">Veuf</option>
                    </select>
                    <br>
                    Nombre d'enfants : <input type="number" name="Nombre_enfants" >
                    <br>            
            </fieldset>
            <br>
            <fieldset>
                    <legend><strong>Experience professionnelle</strong></legend>
                    Ecole : <input type="text" name="Ecole" >
                    <br>
                    Direction/Service : <input type="text" name="Direction_Service" >
                    <br>
                    Grade : <input type="text" name="Grade">
                    <br>
                    Date debut d'installation : <input type="date" name="Date_debut_installation">
                    <br>
                    Date fin d'installation : <input type="date" name="Date_fin_installation">
                    <br>
                    Date debut hors secteur : <input type="date" name="Date_debut_hors_secteur">
                    <br>
                    Date fin hors secteur : <input type="date" name="Date_fin_hors_secteur">
                    <br>
                    Respondabilite : <input type="text" name="Responsabilite">
                    <br>               
            </fieldset>
            <br>
            <fieldset>
                    <legend><strong>Conjoint</strong></legend>
                    Nom : <input type="text" name="Nom_conjoint" id="name">
                    <br>
                    Prenom : <input type="text" name="Prenom_conjoint">
                    <br>
                    Date de naissance : <input type="date" name="Date_naissance_conjoint">
                    <br>
                    Commune de naissance : <input type="text" name="Commune_naissance_conjoint"> 
                    <br>
                    Wilaya : 
                    <select name ="Wilaya_conjoint" size="1">
                        <option>01. Adrar</option>
                        <option>02. Chlef</option>
                        <option>03. Laghouat</option>
                        <option>04. Oum El Bouaghi</option>
                        <option>05. Batna</option>
                        <option>06. Bejaia</option>
                        <option>07. Biska</option>
                        <option>08. Bechar</option>
                        <option>09. Blida</option>
                        <option>10. Bouira</option>
                        <option>11. Tamanrasset</option>
                        <option>12. Tebessa</option>
                        <option>13. Tlemcen</option>
                        <option>14. Tiaret</option>
                        <option>15. Tizi Ouzou</option>
                        <option>16. Alger</option>
                        <option>17. Djelfa</option>
                        <option>18. Djijel</option>
                        <option>19. Setif</option>
                        <option>20. Saida</option>
                        <option>21. Skikda</option>
                        <option>22. Sidi Bel Abbes</option>
                        <option>23. Annaba</option>
                        <option>24. Guelma</option>
                        <option>25. Constantine</option>
                        <option>26. Medea</option>
                        <option>27. Mostaganem</option>
                        <option>28. M'Sila</option>
                        <option>29. Mascara</option>
                        <option>30. Ouargla</option>
                        <option>31. Oran</option>
                        <option>32. El Bayadh</option>
                        <option>33. Illizi</option>
                        <option>34. Bordj Bou Arreridj</option>
                        <option>35. Boumerdes</option>
                        <option>36. El Tarf</option>
                        <option>37. Tindouf</option>
                        <option>38. Tissemsilt</option>
                        <option>39. El Oued</option>
                        <option>40. Khenchela</option>
                        <option>41. Souk Ahras</option>
                        <option>42. Tipaza</option>
                        <option>43. Mila</option>
                        <option>44. Ain Defla</option>
                        <option>45. Naama</option>
                        <option>46. Ain Temouchent</option>
                        <option>47. Ghardaia</option>
                        <option>48. Relizane</option>

                    </select>
                    <br> 
                    Prenom du pere : <input type="text" name="Prenom_pere_conjoint">
                    <br>
                    Nom de la mere : <input type="text" name="Nom_mere_conjoint">
                    <br>
                    Prenom de la mere : <input type="text" name="Prenom_mere_conjoint">
                    <br>
                    Conjoint au MESRS : <input type="radio" name="choix_MESRS"> Oui <input type="radio" name="choix_MESRS"> Non
                    <br>             
            </fieldset>
            <br>
            <fieldset> 
                    <Legend><strong>Droits</strong></Legend>
                    Moudjahid : <input type="radio" name="choix_Moudjahid"> Oui <input type="radio" name="choix_Moudjahid"> Non
                    <br>
                    Fils/fille de Chahid : <input type="radio" name="choix_Chahid"> Oui <input type="radio" name="choix_Chahid"> Non
                    <br>
                    Veuf de Chahid : <input type="radio" name="choix_veufChahid"> Oui <input type="radio" name="choix_veufChahid"> Non
                    <br>                 
            </fieldset>

           <!-- <button type="submit" onclick="pop()">Saisir</button> --> 
            <a class="btn" onclick="pop()" href="#click">saisir</a>
            </form>
        </br>
        </div>
        <!-- OUVRIR L'ETAT -->

        <div class="modal" id="etat">
            <h2> Voici l'etat </h2>
            <a href="#" class="modal_close">&times;</a>
        </div>

        <div id="box">
            <h1>SUCESS</h1>
            <a class="close" onclick="pop()">close</a>
        </div>

        <script>
            var c = 0;
            function pop() {
                if ( c == 0 ) {
                    document.getElementById("box").style.display = "block";
                    c = 1;
                } else {
                    document.getElementById("box").style.display = "none";
                    c = 0;
                }
            }
        </script>
    </body>
</html>