@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }

  body
  {
      background-color: #cce6f4;
  }

  header
  {
      background-color: #175676 ;
  }

  .menu
  {
      text-align: center;
      padding: 50px;
      margin: 5px;
  }

  .menu h1
  {
      font-size: 20px;
      color: #D62839;
  }

  .section
  {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      justify-content: center;
      grid-gap: 1rem;
  }

  li, a, button
  {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: white;
      text-decoration: none;
  }
  img
  {
      width: 50px;
      height:  40px;
      margin: 15px;
      vertical-align: middle;
  }

  header
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 5%;
      position: relative;
      left: 0;
      top: 0;
      width: 100vw;
  } 

  header nav img 
  {
    width: 10px;
    height:  10px;
    margin: 0;
  }

  nav ul li
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo
  {
      cursor: pointer;
      margin-right: 150px;
      margin-left: 25px;
  }


  .nav-links
  {
      list-style: none;
  }

  .nav-links li
  {
      display: inline-block;
      padding: 10px 10px;
  }

  .nav-links li a 
  {
      transition: all 0.3s ease 0s;
      color: #cce6f4;      
  } 


  .nav-links li a:hover
  {
      color: white;
  }

  .submenu1
{
    display: none;
}

.nav-links li:hover .submenu1
{
    display: block;
    position: absolute;
    background-color: #4BA3C3 ;
    margin-top: 10px;
    margin-left: -50px;
}
.nav-links li:hover .submenu1 ul 
{
    display: block;
    margin :10px;
}
.nav-links li:hover .submenu1 ul li
{
    width : 100px;
    padding: 5px;
    border-bottom: 1px dotted #fff ;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-links li:hover .submenu1 ul li:last-child
{
    border-bottom: none;
}
.nav-links li:hover .submenu1 ul li a:hover
{
    color : #175676;
}
  button 
  {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 8px;
      margin: 8px;
      background-color: #4BA3C3;
      border: transparent;
      border-radius: 50px;
      cursor: pointer;
      transform: all 0.3s ease 0s;
  }

  button:hover 
  {
      background-color: #175676;
  }




  footer
  {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #175676;
      height: auto;
      width: 100vw;
      color: white;
  }
  .footer-bottom
  {
      width: 100vw;
      padding: 20px 0;
      text-align: center;
  }
 
  .footer-bottom p
  {
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }


  @media only screen and (min-width: 1000px)
  {
    header
    {
        padding: 0px 10%;  
    } 
    header nav img 
  {
    width: 20px;
    height:  20px;
    margin: 5px;
  }
  .logo
  {
      margin-right: 300px;
      margin-left: 50px;
  }

  .nav-links li
  {
      padding: 20px 40px;
  }
  }