* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, "roboto";
  }
  html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }

  body
  {
      background-color: #cce6f4;
  }

  header
  {
      background-color: #175676 ;
  }

  li, a
  {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: white;
      text-decoration: none;
  }
  img
  {
      width: 50px;
      height:  40px;
      margin: 15px;
      vertical-align: middle;
  }

  ul{
    list-style: none;
}

nav
{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #175676;
}
nav img
{
    width: 45px;
    height: 30px;
}

.nav-links
{
    list-style: none;
}

.nav-links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a 
{
    transition: all 0.3s ease 0s;
    color: white;
    padding: 15px;
} 

.nav-links li a:hover
{
    color: pink;
    background-color: white;
    border-radius: 50px;
}

.selected-lang
{
    cursor: pointer;  
    display: flex;
    justify-content: space-between; 
    width: 100px;
}

.selected-lang:before
{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
}

.lang-menu
{
    color: white;
    position: relative;
    justify-content: center;
    margin-bottom: 10px;
}

.lang-menu ul
{
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px bold #175676;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
}


.lang-menu ul li{
    list-style: none;
    color: white;
}

.lang-menu ul li a{
    width: 100px;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #175676;
}

.lang-menu:hover ul{
display: block;
}

.btn
{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:white;
    color: #175676;
    font-size: 16px;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 50px;
    margin: 45px;
    top: 530px;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.information
{
    border: #175676 solid 2px;
    border-radius: 50px;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

.information img
{
    width: 125px;
    height: 100px;
}

.information input
{
    margin: 15px;
}

input
{
    background-color: transparent;
    border: none;
    border-bottom: #175676 2px solid;
    margin: 10px;
}

select
{
    margin: 15px;
    background-color: #175676;
    color: white;
    border: transparent;
    border-radius: 50px;
    padding: 5px;
}